/* General */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Niconne&family=Splash&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: url(./assests/bg3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

html {
  scroll-behavior: smooth;
}

p {
  /* font-size: 1.2rem; */
  color: #fff;
}

h3 {
  color: #00ffff;
}

/* Transition */
a,
.btn {
  transition: all 300ms ease;
}

/* Desktop-Nav */
nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #00ffff;
  text-decoration: underline;
  text-underline-offset: 1rem;
}

.logo {
  font-size: 8rem;
  font-family: "Niconne", sans-serif;
  background-image: linear-gradient(
    90deg,
    #00ffff 0%,
    #009fff 25%,
    #00ffff 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 300% auto;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
}

.logo:hover {
  cursor: default;
}

/* Hamburger-menu */
#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #012034;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links a:hover {
  color: #00ffff;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon span:hover {
  background: #00ffff;
}
.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}
.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}
.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}
.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* Sections */
section {
  padding-top: 4vh;
  margin: 5rem 5rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* profile section */
#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section_pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section_text {
  align-self: center;
  text-align: center;
}

.section_text p {
  font-weight: 600;
}

.section_text_p1 {
  text-align: center;
}
.section_text_p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
  color: #fff;
  background-image: linear-gradient(
    90deg,
    #00ffff 0%,
    #009fff 25%,
    #00ffff 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
}

#social-container {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  gap: 2rem;
}

/* About section */
#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.text-container p {
  text-align: center;
}
.arrow {
  position: absolute;
  right: -4rem;
  bottom: 1rem;
  filter: invert(100%) sepia(79%) saturate(240%) hue-rotate(290deg)
    brightness(113%) contrast(100%);
}

.arrow:hover {
  filter: invert(90%) sepia(81%) saturate(5305%) hue-rotate(103deg)
    brightness(103%) contrast(103%);
  transform: translate(0, 5px);
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  border-radius: 2rem;
  border: #00ffff 0.1rem solid;
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section_pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* Skills section */
#skills {
  position: relative;
}

.table-body {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  gap: 5rem;
}

table {
  margin-top: 2rem;
  width: 48vh;
}

.table th {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
}

.table-body img {
  width: 4rem;
  height: 4rem;
  vertical-align: middle;
}

.table-body td {
  color: #fff;
  border: #fff 0.1rem solid;
  padding: 0 5px;
  font-size: 1.3rem;
  text-align: center;
  height: auto;
}

.table-body td:hover {
  color: #00ffff;
  cursor: default;
}

/* Project section */
#projects {
  position: relative;
}

.color-container {
  border-color: #00ffff;
  background: rgba(255, 255, 255, 0.1);
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 1rem;
  color: #fff;
}

/* Contact section */
#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: #fff 0.1rem solid;
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.icon.email-icon {
  height: 2.5rem;
}

/* Footer */
footer {
  height: 26vh;
  margin: 0.1rem;
}

footer p {
  text-align: center;
}

/* Icons */
.icon {
  cursor: pointer;
  height: 2rem;
  filter: invert(100%) sepia(79%) saturate(240%) hue-rotate(290deg)
    brightness(113%) contrast(100%);
}

.icon:hover {
  filter: invert(90%) sepia(81%) saturate(5305%) hue-rotate(103deg)
    brightness(103%) contrast(103%);
  transform: translate(0, 5px);
}

/* Buttons */
.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  background: transparent;
  color: #fff;
  border: #fff 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  color: #333;
  background: #fff;
}

.btn-color-1:hover {
  background: #00ffff;
  color: #333;
  border: #333 0.1rem solid;
}

.btn-color-2:hover {
  color: #333;
  border: none;
  background: #00ffff;
}

.btn-container {
  gap: 1rem;
}
/* Key frames */

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* Media Queries */
@media screen and (max-width: 1400px) {
  #profile {
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }

  #profile,
  .section-container {
    display: block;
  }

  .arrow {
    display: none;
  }

  section,
  .section-container {
    height: fit-content;
  }

  .section_pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }

  .about-containers {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 600px) {
  table {
    margin-top: 0.1rem;
  }

  .table-body {
    gap: 1rem;
  }
  .table-body img {
    width: 2rem;
    height: 2rem;
  }
  .table-body th {
    font-size: 0.5rem;
  }
  .table-body td {
    font-size: 0.6rem;
  }

  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }

  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }

  .contact-info-container {
    margin: 0;
  }

  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }

  .logo {
    font-size: 5rem;
  }

  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  .section_pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }

  .section_pic-container img {
    width: 200px;
    height: 200px;
  }

  .section_text_p2 {
    font-size: 1.25rem;
  }

  .title {
    font-size: 2rem;
  }

  .text-container {
    text-align: justify;
  }
}
